@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sofadi+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

#heading,#left h2,h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

@media (max-width: 768px) {
  #left h2 {
    font-size: 1.5rem;
  }
}
.hover-grow {
  transition: transform 1s ease, height 1s ease;
}

.hover-grow:hover {
  
  height: 240px; /* Adjusts the height manually */
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.slick-slide > div {
  margin: 0 10px;
}

/* Custom CSS for slider dots */
.slick-dots {
  bottom: -100px; /* Adjust vertical positioning */
  display: flex !important; /* Use flex to prevent overlap */
  justify-content: center; /* Center the dots */
  gap: 8px; /* Space between dots */
}

.slick-dots li {
  margin: 0; /* Remove margin */
  
}

.slick-dots li button {
  width: 12px; /* Set width */
  height: 12px; /* Set height */
  border-radius: 50%; /* Make buttons circular */
  background: gray; /* Background color for inactive dots */
}

.slick-dots li.slick-active button {
  background: #991b1b; /* Color for active dot */
}

/* Ensure the container has enough height */
.slider-container {
  position: relative; /* To position the dots correctly */
  padding-bottom: 60px; /* Add bottom padding for dots */
}
